@keyframes ldio-4fhg6689rd5 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-4fhg6689rd5 div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #0a0a0a;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-4fhg6689rd5 div {
  animation: ldio-4fhg6689rd5 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-0dtdsr1ll1v6 {
  width: 41px;
  height: 41px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-4fhg6689rd5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.41);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-4fhg6689rd5 div { box-sizing: content-box; }
