html {
	font-size: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	height: 100vh;
	max-width: 144rem;
	background: linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%);
	//background-color: #fff;
}
.grid {
	display: inline-grid;
}

